
:root {
    --background: rgb(104, 104, 104);
    --highlightColor: green;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
    font-size: 62.5%;
    text-align: center;
    background-color: var(--background);
}

.container{
    display: grid;
    grid-template-rows: 1fr 300px 1fr;
    grid-template-columns: 1fr minmax(auto, 680px) 1fr;
    height: 100%;
}

.piano{
    grid-area: 2/2;
    display: grid;
    grid-template-rows: 3px 1fr;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 5px;
    width: 100%;
    height: 100%;
}

.piano-black{
    grid-area: 2/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(24, 1fr);
    z-index: 2;
    grid-gap: 5px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


.key{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


.white-key{
    background-color: rgb(231, 231, 231);
    grid-row: 2;
    border-bottom: 3px solid rgb(68, 68, 68);
    box-shadow: 0 7px rgb(68, 68, 68);
}

.black-key{
    background-color: rgb(46, 46, 46);
    grid-column: span 2;
    grid-row: 1;
    border-bottom: 3px solid black;
    box-shadow: 0 7px black;
    z-index: 2;
    pointer-events: all;
}

.white-key:active, .white-key.active{
    transform-origin: top;
    box-shadow: 0 0px transparent;
    transform: scaleY(1.025);
    background-color: var(--highlightColor);
}

.black-key:active, .black-key.active{
    transform-origin: top;
    box-shadow: 0 0px transparent;
    transform: scaleY(1.04);
    background-color: var(--highlightColor);
}

.piano-gap{
    visibility: hidden;
    grid-row: 1;
}

.piano-gap2{
    visibility: hidden;
    grid-row: 1;
    grid-column: span 2;
}

.red:hover, .red:active, .red.active{
    background-color: rgb(253, 115, 110);
}
.orange:hover, .orange:active, .orange.active{
    background-color: rgb(233, 150, 83);
}
.yellow:hover, .yellow:active, .yellow.active{
    background-color: rgb(238, 238, 84);
}
.green:hover, .green:active, .green.active{
    background-color: rgb(126, 212, 100);
}
.aqua:hover, .aqua:active, .aqua.active{
    background-color: rgb(107, 250, 231);
}
.blue:hover, .blue:active, .blue.active{
    background-color: rgb(138, 165, 255);
}
.purple:hover, .purple:active, .purple.active{
    background-color: rgb(219, 124, 248);
}
.pink:hover, .pink:active, .pink.active{
    background-color: rgb(255, 157, 178);
}

.black-key:hover, .black-key:active, .black-key.active{
    background-color: rgb(77, 77, 77);
}

@media (hover){
    .key:hover{
        /* background-color: rgb(30, 170, 37); */
        cursor: pointer;
    }
}
